{% set classes = ['block-table'] %}

{% if withHeadings %}
  {% set classes = classes|merge(['block-table--with-headings']) %}
{% endif %}

<table class="{{ classes.join(' ') }}">
  {% for row in content %}
    <tr>
      {% for cell in row %}
        <td>
          {{ cell }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
